//colors
$color-primary: #4a6fff;
$color-primary-light: #7b93ff;
$color-secondary: #ff6b6b;
$color-accent: #ffd166;
$color-dark: #2a324b;
$color-black: #000000;
$color-light: #f7f9fc;
$color-gray: #e1e5ee;
$color-gray-dark: #9da5b9;
$color-gray-opacity: #2a324bb3;
$white: #fff;

//shadows
$shadow-sm: 0px 2px 4px 0px #0000000d;
$shadow-md: 0px 4px 8px 0px #0000001a;
$shadow-lg: 0px 8px 16px 0px #00000026;

//media query

$breakpoint-sm: 500px;
$breakpoint-md: 768px;
$breakpoint-xl: 1200px;
