* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif !important;
	min-width: 320px;
	margin: 0;
	line-height: 1.5;
	place-items: center;
}
#root {
	width: 100%;
	min-height: 100vh;
}
