$header-padding: 11.5px 0;
$header-height: 50px;
$header-z-index: 100;

.header {
	background-color: $color-dark;
	box-shadow: $shadow-md;
	padding: $header-padding;
	height: $header-height;
	display: flex;
	align-items: center;
	@media (max-width: $breakpoint-md) {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $header-z-index;
	}
}

.headerSubstrate {
	display: none;
	@media (max-width: $breakpoint-md) {
		display: block;
		height: 50px;
	}
}

.wrapper {
	@include container;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
